/* ///////////////////////////CUSTOM CSS RESET////////////////////////////////// */

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  *:not(dialog) {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* ////////////////GENERAL SECTIONS//////////////////////////////// */

main {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  overflow: hidden;
}

.main-container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 60px;
  background-color: #252525;
}

.main-task-container {
  position: relative;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: calc(100vh - 60px);
  overflow: auto;
  scrollbar-width: none;
  z-index: 1;
}

.decoration-ball {
  border: 1px solid #0168c96f;
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #0083ff;
  box-shadow: 8px -5px 10px #0053a1ab;
}

.ball-1 {
    right: -100px;
}
.ball-2 {
    right: 10px;
    top: 100px;
}
.ball-3 {
    right: 20px;
    top: 200px;
}

.ball-4 {
  right: -100px;
  top: 300px;
}

/* ////////////////////FORM SECTION/////////////////////////////////// */


#task-form {
  position: relative;
  margin: 0 40px 10px 40px;
  display: grid;
  grid-template-columns: 25px 1fr 30px;
  border: 1px solid gray;
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  padding: 8px;
}

#title {
  font-size: larger;
  color: white;
  width: 100%;
  background-color: rgb(10, 10, 10);
  outline: none;
  border: none;
  padding-left: 8px;
}

.modal-showlist-icon {
  background-image: url(/src/icons/list_2_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

#arrow-up {
  fill: gray;
}

.button-arrow {
  grid-column: 3 / 4;
  height: 30px;
  width: 30px;
  background-color: black;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  align-self: center;
}

/* //////////////////////////////TASK CARD////////////////////////// */

.general-task-container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 60px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-button {
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgb(75, 75, 75);
  background-color: rgba(0, 0, 0, 0.01);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.svg-container {
  cursor: pointer;
  width: 16px;
  height: 16px;
  scale: 0;
}

.svg-style {
  background-color: #0083ff;
  border-radius: 50%;
  background-image: url(icons/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  transition: all 0.3s ease;
}

.task {
  display: grid;
  color: white;
}

.title-task {
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.style-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-selection {
  border: none;
  background-color: rgba(0, 0, 0, 0.01);
}

.delete-button {
  height: 18px;
  width: 18px;
  background-image: url(icons/alpha-x-circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
}

/* ////////////////////////////////////SIDEBAR SECTION/////////////////////// */

.sidebar {
  display: grid;
  grid-template-rows: 60px 30px 30px 1fr;
  background-color: rgb(10, 10, 10);
  color: white;
  padding: 10px 20px;
  row-gap: 20px;
}

.profile-box {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 35px 35px;
  column-gap: 10px;
}

.profile-image {
  background-image: url(/src/icons/simon-twukN12EN7c-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  grid-area: 1 / 1 / 3 / 2;
}

.name {
  grid-area: 1 / 2 / 2 / 3;
  align-self: flex-end;
}

.user-name {
  grid-area: 2 / 2 / 3 / 3;
}

.all-mytasks-section {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  align-items: center;
}

.mytask-icon {
  height: 20px;
  width: 20px;
  background-image: url(/src/icons/assignment_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.number-tasks {
  height: 20px;
  width: 20px;
  background-color: #0083ff;
  border-radius: 50%;
}

.list-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-name {
}


/* ///////////////////////////MODAl ADD PROJECTS///////////////////// */

#dialog-add-projects:open {

  opacity: 1;
  transform: scale(1);
}

#dialog-add-projects {

  opacity: 0;
  /* transform: scale(1); */
  transition: all  .1s ease allow-discrete;
}

@starting-style {
  #dialog-add-projects:open {
    opacity: 0;
    transform: scale(0);
  }
}

::backdrop {
  background-color: black;
  opacity: 0.5;
}


/* //////////////////////MODAL LIST ICON/////////////////////////////// */

.modal-container {
  display: none;
  border-radius: 10px;
  background-color: rgba(10, 10, 10);
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 70px;
  left: 0;
  z-index: 1;
}

.list-section-unit {
  cursor: pointer;
}