*, *::before, *::after {
    box-sizing: border-box;
  }
  
  *:not(dialog) {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }s
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

main {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.sidebar {
  background-color: rgb(10, 10, 10);
  color: white;
}

.main-container {
  background-color: rgb(75, 75, 75);
  position: relative;
}

#task-form {
  display: grid;
  grid-template-columns: 100px 100px  1fr 20px;
  border: 1px solid gray;
  background-color: rgb(10, 10, 10);
  margin: 10px 20px;
  border-radius: 5px;
}

.task {
  color: white;
  border: 1px solid white;
}

#arrow-up {
  fill: gray;
  height: 20px;
  width: 20px;
}

.title {
  grid-column: 1 / 5;
}

.description {
  grid-area: 2 / 1 / 3 / 5;
}

.options-container {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 130px 130px  1fr 20px;
}

.dueDate {
  grid-column: 1/ 2;
}

.priority {
  grid-column: 2/ 3;
}

.button-input {
  grid-column: 4 / 5;
  background-image: url(./icons/arrow-up.svg);
  background-repeat: no-repeat;
  background-size: contain;
}


